.transition-fast {
  transition: all 0.1s ease-in-out; }

.transition {
  transition: all 0.3s ease-in-out; }

.transition-slow {
  transition: all 1s ease-in-out; }

.projects .projects__project {
  display: inline-block;
  width: 100%; }
  .projects .projects__project .projects__project__card {
    padding: 54px;
    position: relative;
    transition: all .3s ease-in-out; }
    @media only screen and (max-width: 768px) {
      .projects .projects__project .projects__project__card {
        padding: 18px; } }
    .projects .projects__project .projects__project__card.projects__project__card-light h2, .projects .projects__project .projects__project__card.projects__project__card-light p, .projects .projects__project .projects__project__card.projects__project__card-light a {
      color: #FAFAFA; }
    .projects .projects__project .projects__project__card.projects__project__card-light:before {
      color: #FAFAFA; }
    .projects .projects__project .projects__project__card h2 {
      margin-top: 0;
      margin-bottom: 18px; }
    .projects .projects__project .projects__project__card p {
      padding: 0 0 9px; }
    .projects .projects__project .projects__project__card a {
      display: block;
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10; }
    .projects .projects__project .projects__project__card:hover h2, .projects .projects__project .projects__project__card:hover p, .projects .projects__project .projects__project__card:hover a {
      opacity: .5; }
    .projects .projects__project .projects__project__card:hover:before {
      opacity: 1; }
    .projects .projects__project .projects__project__card:before {
      position: absolute;
      right: 72px;
      top: 72px;
      content: "View";
      font-family: es-display, sans-serif;
      font-size: 2.625rem;
      line-height: 3rem;
      opacity: 0;
      pointer-events: none; }
      @media only screen and (max-width: 768px) {
        .projects .projects__project .projects__project__card:before {
          display: none; } }
