@import 'app/resources/scss/_foundation.scss';

.projects {
  line-height: 0;
  .projects__more {
    padding-top: spacing(144) ;
    padding-bottom: spacing(144);

    //Mobile
    @media only screen and (max-width: breakpoint(tabletSD)) {
      padding: spacing(90) spacing(36) spacing(45) spacing(36);
      text-align: center;
      a {
        display: block;
max-width: 100%;
overflow: hidden;
text-overflow: ellipsis;
      }
      a + br {
        display: none;
      }
    }

  }
  .projects__project {
    display: inline-block;
    width: 100%;
    margin: 0;



    .projects__project__card {
      padding: spacing(144) 0;

      position: relative;
      min-height: 340px;
      overflow: hidden;
      margin: 0;
      &:before {
        position: absolute;
        z-index: 4;
        top: 0;left: 0;
        width: 100%;
        height: 100%;
        background-color: color(white);
        content: '';
        opacity: .75;
      }



      .projects__project__card__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          position: absolute;
          display: block;

          height: 104%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        filter: grayscale(100%) contrast(30%) brightness(80%);

        z-index: 2;
      //  transition: transition(fast);
      }

      &.projects__project__card-light {

        h1, p, a {
          color: color(white);
        }
          &:before {
            background-color: color(black);
          }
          .projects__project__card__image {
            filter: grayscale(100%) contrast(20%);
          }
      }
      h1{
        margin-top: 0;
        margin-bottom: spacing(18);

        position: relative;
        z-index: 5;

      }
      p {
        padding: 0 0 spacing(9);

        position: relative;
        z-index: 5;
      }
      a {
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;


      }
      &:hover {

        h1, p {
          z-index: 2;

        }
        h1 {

        }
          &:before {
            opacity: 0;
          }

        .projects__project__card__image {
          z-index: 9;
          filter: none;


        }
      }

      //Mobile
      @media only screen and (max-width: breakpoint(tabletSD)) {
        padding: spacing(45) spacing(36) spacing(45) spacing(36);
        min-height: 0px;
        &:before {
          display: none;

        }
        text-align: center;
        .projects__project__card__image {
          display: none;
          filter: none;

        }
        &.projects__project__card-light {
          .projects__project__card__image {
            display: none;
            filter: none;
          }
        }

        &:hover {
          .projects__project__card__image {


            z-index: 2;
          }
        }
      }

    }
  }
}
