@import 'app/resources/scss/_foundation.scss';

.projects {

  .projects__project {
    display: inline-block;
    width: 100%;


    .projects__project__card {
      padding: spacing(54);
      position: relative;
      
      //Mobile
      @media only screen and (max-width: breakpoint(tabletSD)) {
        padding: spacing(18);
      }

      &.projects__project__card-light {
        h2, p, a {
          color: color(white);
        }
          &:before {
            color: color(white);
          }
      }
      h2{
        margin-top: 0;
        margin-bottom: spacing(18);
      }
      p {
        padding: 0 0 spacing(9);
      }
      a {
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
      &:hover {
        h2, p, a {
          opacity: .5;
        }
        &:before {
          opacity: 1;

        }
      }
      &:before {
        position: absolute;
        right: spacing(72);
        top: spacing(72);
        content: "View";
        font-family: font-family(display);
        font-size: heading-font-size(h2);
        line-height: heading-line-height(h2);
        opacity: 0;
        pointer-events: none;
        //Mobile
        @media only screen and (max-width: breakpoint(tabletSD)) {
          display: none;
        }
      }
    }
  }
}
