.transition-fast {
  transition: all 0.1s ease-in-out; }

.transition {
  transition: all 0.3s ease-in-out; }

.transition-slow {
  transition: all 1s ease-in-out; }

.top-bar {
  background-color: #FFF;
  padding: 18px 0;
  font-size: 0.75rem;
  line-height: 1.125rem; }
  @media only screen and (max-width: 768px) {
    .top-bar {
      padding-left: 45px;
      padding-top: 9px;
      padding-bottom: 9px; } }
