@import 'app/resources/scss/_foundation.scss';
.top-bar {
  background-color: color(white, lighten);
  padding: spacing(18) 0;
  font-size: font-size(s);
  line-height: line-height(s);
  //Mobile
  @media only screen and (max-width: breakpoint(tabletSD)) {
    padding-left: spacing(45);
    padding-top: spacing(9);
    padding-bottom: spacing(9);
  }
}
