@import 'app/resources/scss/_foundation.scss';
.top-bar {
  background-color: color(white, lighten);
  padding: spacing(18) 0;
  font-size: font-size(s);
  line-height: line-height(s);
  //Mobile
  @media only screen and (max-width: breakpoint(tabletSD)) {
    padding-left: 0;
    padding-top: spacing(9);
    padding-bottom: spacing(9);
    .container, .col.col-12 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
