@import 'app/resources/scss/_foundation.scss';
.image {
  width: 100%;
  position: relative;
  display: inline-block;
  min-height: spacing(162);
  transition: transition();
  margin-bottom: spacing(162);
  &.image-right {
    text-align: right;
  }
  //tabletHD
  @media only screen and (max-width: breakpoint(tabletHD)) {
    margin-bottom: spacing(90);
  }
  //Mobile
  @media only screen and (max-width: breakpoint(tabletSD)) {
    margin-bottom: spacing(36);
  }
  img {
    width: 100%;
  }
  &.image-nopadding {
    margin-bottom: 0;
  }
  &.image-full {

    //Mobile
    @media only screen and (max-width: breakpoint(tabletSD)) {
      img {
        min-width: 1440px;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
    &.image-maxed {
      img {
        max-width: 1440px;
      }

    }
  }
  &.image-device {
     padding: spacing(18);
     border-radius: spacing(36);
     background-color: color(black);
     position: relative;
     width: 100%;
     box-shadow: inset 6px 6px 6px rgba(255,255,255,.05), inset -6px -6px 6px rgba(0,0,0,.1);
     margin-bottom: spacing(162);
     img {
       width: 100%;
       border-radius: spacing(18);
       display: block;
       font-size: 0;
     }
     &:before {
       position: absolute;
       content: '';
       top: calc(100% - 54px);
       left: 0;
       z-index: 0;
       width: 100%;
       background-position: center;
       background-size: 100% 100%;
       height: spacing(162);
       background-image: url("../../resources/img/image_device_shadow.png");
       opacity: .5;
     }
     &.image-mobile {
       max-width: 411px;
       //Mobile
       @media only screen and (max-width: breakpoint(tabletHD)) {
         padding: spacing(9);
         border-radius: spacing(18);
            img {
              border-radius: spacing(9);
            }
       }
     }

     &.image-tablet {
       max-width: 768px;
       //Mobile
       @media only screen and (max-width: breakpoint(tabletHD)) {
         padding: spacing(9);
         border-radius: spacing(18);
            img {
              border-radius: spacing(9);
            }
       }
     }
     &.image-desktop {
       max-width: 100%;
       //Mobile
       @media only screen and (max-width: breakpoint(tabletHD)) {
         padding: spacing(9);
         border-radius: spacing(18);
            img {
              border-radius: spacing(9);
            }
       }
     }




     //tabletHD
     @media only screen and (max-width: breakpoint(tabletHD)) {
       margin-bottom: spacing(90);

     }
     //Mobile
     @media only screen and (max-width: breakpoint(tabletSD)) {
       margin-bottom: spacing(36);
     }
  }
  & + .p-s {
    margin-top: - spacing(90);
    //Mobile
    @media only screen and (max-width: breakpoint(tabletSD)) {
      margin-top: - spacing(18);
    }
  }
}
