@import 'app/resources/scss/_foundation.scss';
.blog-post-image {
  margin-bottom: spacing(54);
  .blog-post-image__image{
    margin: spacing(27) 0;
    img {
      width: 100%;
    }
  }
  .blog-post-image__text {
    font-size: font-size(s);
    line-height: line-height(s);
    max-width: 600px;
    opacity: .5;
  }
  &.blog-post-image-half {
    margin-bottom: 0;
    display: inline-block;
    width: 50%;
    //Mobile Tablet
    @media only screen and (max-width: breakpoint(tabletHD)) {
      width: 100%;
    }
    .blog-post-image__image{
      margin: 0;

      img {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
        line-height: 0;

      }
    }
  }
}
