@import 'app/resources/scss/_foundation.scss';
.global-nav {
  font-size: font-size(s);
  line-height: line-height(s);
  position: relative;
  z-index: 8888;
  //Mobile
  @media only screen and (max-width: breakpoint(tabletSD)) {

    margin-left: spacing(63);
  }

  .global-nav__home-link-container {
    position: fixed;
    z-index: 9999;
    transform-origin: top left;
    transform: rotate(-90deg);
    left:spacing(9);
    top: spacing(72) + spacing(18);

    //Mobile
    @media only screen and (max-width: breakpoint(tabletSD)) {

    }
  }

  .global-nav__post-title {
    font-size: font-size(s);
    line-height: line-height(s);
    color: color(black);
    max-width: 95%;
    span {
      font-family: font-family(display);
       font-weight: bold;
    }
  }
  &.global-nav-in-project, &.global-nav-in-post {
    .global-nav__home-link-container {
      top: spacing(72)+ spacing(9) - 4;
      @media only screen and (max-width: breakpoint(tabletSD)) {
      //  top:99px;
      //  left: 0;
      }
    }
  }
  &.global-nav-in-post {
    .global-nav__link, .global-nav__email-link {
      display: none;
    }

  }
  &.global-nav-no-nav {
    //Mobile
    @media only screen and (max-width: breakpoint(tabletSD)) {

      margin-left: spacing(27);
    }
  }

  .global-nav__home-link {
    font-family: font-family(display);
    text-decoration: none;
    position: absolute;
    background-color: color(white, lighten);
    padding: spacing(9) 14px spacing(9) 14px;

    top: - spacing(9);
    left: 5 - spacing(9);
    font-size: font-size();
    line-height: line-height();

    &:hover {
      color: color(black);

    }


  }

  .global-nav__link {
    margin-right: spacing(18);
    &.global-nav__link-active {
      color: color(black);
      opacity: .5;

      &:hover {
        color: color(black);
      }
      text-decoration: none;
    }
  }
}
