@import 'app/resources/scss/_foundation.scss';
.global-nav {
  font-size: font-size(s);
  line-height: line-height(s);
  position: relative;
  z-index: 8888;
  //Mobile
  @media only screen and (max-width: breakpoint(tabletSD)) {
    white-space: nowrap;
    overflow-x: auto;
  }
  .global-nav__home-link-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

  }
  .global-nav__home-link {
    font-family: font-family(display);
    margin-right: spacing(9);
    text-decoration: none;
    position: absolute;
    left: - spacing(18);
    top: spacing(45);
    transform: rotate(170deg);
    font-size: font-size();
    line-height: line-height();
    -webkit-perspective: 900000px;
    perspective: 900000px;
    &:hover {
      color: color(black);
      text-decoration: underline;
      transform: rotate(173deg);
    }
    //Mobile
    @media only screen and (max-width: breakpoint(tabletSD)) {

      background-color: color(white, lighten);
      padding: spacing(9) spacing(27) spacing(9) spacing(18);
      margin-right: 0;
      left: - spacing(45) ;
      top: spacing(27) ;
    }

  }
  .global-nav__link {
    margin-right: spacing(9);
    &.global-nav__link-active {
      color: color(black);
      opacity: .5;
      &:hover {
        color: color(black);
      }
      text-decoration: line-through;
    }
  }
}
