@import 'app/resources/scss/_foundation.scss';
.global-nav {
  font-size: font-size(s);
  line-height: line-height(s);
  position: relative;
  z-index: 8888;
  //Mobile
  @media only screen and (max-width: breakpoint(tabletSD)) {

    margin-left: spacing(63);
  }

  .global-nav__home-link-container {
    position: fixed;
    z-index: 9999;
    transform-origin: top left;
    transform: rotate(-90deg);
    left:spacing(9);
    top: spacing(72) + spacing(18);
    //Mobile
    @media only screen and (max-width: breakpoint(tabletSD)) {
      top:126px;
      left: 0;
    }
  }
  &.global-nav-in-project {
    .global-nav__home-link-container {
      top: spacing(72) ;
      @media only screen and (max-width: breakpoint(tabletSD)) {
        top:99px;
        left: 0;
      }
    }
  }
  .global-nav__home-link {
    font-family: font-family(display);
    margin-right: spacing(9);
    text-decoration: none;
    position: absolute;



    font-size: font-size();
    line-height: line-height();

    &:hover {
      color: color(black);

    }
    //Mobile
    @media only screen and (max-width: breakpoint(tabletSD)) {

      background-color: color(white, lighten);
      padding: spacing(9) spacing(27) spacing(9) spacing(18);
      margin-right: 0;
      top: 0;
    }

  }

  .global-nav__link {
    margin-right: spacing(18);
    &.global-nav__link-active {
      color: color(black);
      opacity: .5;
      pointer-events: none;
      &:hover {
        color: color(black);
      }
      text-decoration: line-through;
    }
  }
}
