@import 'app/resources/scss/_foundation.scss';
//Headings
h1,h2,h3 {
  font-family: font-family(display);
  margin: 0;
  padding: 0;
  font-weight: bold;
  max-width: 90%;
  font-feature-settings: "kern", "liga", "pnum", "ss04";
}


h1 {
  letter-spacing: -0.02em;
  font-size: heading-font-size(h1);
  line-height: heading-line-height(h1);
  max-width: $block*140;
  margin-top: heading-line-height(h1);
  margin-bottom: heading-line-height(h1)/2;
  //Mobile
  @media only screen and (max-width: $mobile) {

  }
}
h2 {
  font-size: heading-font-size(h2);
  line-height: heading-line-height(h2);
  max-width: $block*122;
  margin-top: heading-line-height(h2);
  margin-bottom: heading-line-height(h2)/2;
  //Mobile
  @media only screen and (max-width: $mobile) {

  }
}
h3 {
  font-size: heading-font-size(h3);
  line-height: heading-line-height(h3);
  max-width: $block*98;
  margin-top: heading-line-height(h3);
  margin-bottom: heading-line-height(h3)/2;
  //Mobile
  @media only screen and (max-width: $mobile) {

  }
}



//Tablet
@media only screen and (max-width: $tablet) {

}
//Mobile
@media only screen and (max-width: $mobile) {

}
