@import 'app/resources/scss/_foundation.scss';
.fade-enter {
    opacity: 0.01;
    .page-component {
      opacity: 0.01;
      transform: translateY(-18px);
    }
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: transition(basic, out);
    .page-component {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .fade-exit {
    opacity: 1;
    .page-component {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: transition(basic, in);
    .page-component {
      opacity: 0.01;
      transform: translateY(-18px);
    }
  }

  div.transition-group {
    position: relative;
  }

  .page-container {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
 }

.page-component {
  transition: transition(slow, in);
  transition-delay: 0ms;
  position: relative;
  &.page-component-1 {
    transition-delay: 100ms;
  }
  &.page-component-2 {
    transition-delay: 200ms;
  }
  &.page-component-3 {
    transition-delay: 300ms;
  }
  &.page-component-4 {
    transition-delay: 400ms;
  }
  &.page-component-5 {
    transition-delay: 500ms;
  }
  &.page-component-6 {
    transition-delay: 600ms;
  }
  &.page-component-7 {
    transition-delay: 700ms;
  }
}
