//Paragraphs
@import 'app/resources/scss/_foundation.scss';
p {
  font-family: font-family();
  font-size: font-size();
  line-height: line-height();
  margin: 0;
  padding: 0 0 line-height() 0;
  max-width: $block*98;
  color: color(black);
  &.p-b {
    font-size: font-size(b);
    line-height: line-height(b);
    max-width: $block*112;
    padding-bottom: line-height(b);
    //Mobile
    @media only screen and (max-width: $mobile) {
      font-size: font-size();
      line-height: line-height();

    }
  }

  &.p-s {
    font-size: font-size(s);
    line-height: line-height(s);
    max-width: $block*72;
    padding-bottom: line-height(s);
    color: color(black);

  }

}

.highlight {
  color: color(blue);

  position: relative;
  z-index: 0;
  /*&:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 12px solid color(blue);
    z-index: -1;
  }*/
}
