@font-face {
    /* font-family: 'es-code';
    src: url('../fonts/es-code.eot');
    src: url('../fonts/es-code.eot?#iefix') format('embedded-opentype'),
         url('../fonts/es-code.woff2') format('woff2'),
         url('../fonts/es-code.woff') format('woff'),
         url('../fonts/es-code.ttf') format('truetype'),
         url('../fonts/es-code.svg#es-code') format('svg');
    font-weight: normal;
    font-style: normal;*/
}
